include ../dropdown-option/dropdown-option
include ../button/button

mixin dropdown(props)
    -
        const { type = '',
                items = [], 
                title = 'гости',
                common = '',
                defaultValue = 'Сколько гостей',
                isApply = false } = props
        let className = "iqdropdown"
        className += isSmall ? ' small' : ''
    p.iqdropdown-title= title
    div(class=className, data-dropdown-type=type)
        p.iqdropdown-selection(data-default-value=defaultValue)
        .iqdropdown-menu(data-common-form-text=common)
            each val in items
                +dropdown-option(val.id, val.name, val.wordForms, type)
            if isApply
                .iqdropdown-button
                    .iqdropdown-button-clear.hide
                        +btn({type: 'text', title: 'очистить'})
                    .iqdropdown-button-apply
                        +btn({type: 'text', title: 'применить'})
