mixin radio(options)
    -
        const { name='', text='', isChecked=false, value='' } = options
    label.radio
        input.radio__input(type='radio', name=name, value=value, checked=isChecked)
        span.radio__button
        span.radio__text= text
