mixin dateDropdown(options)
    - const { id, classes, type = "filter", title_start, title_end } = options;

    if type === 'filter'
        if title_start
            h3.date-dropdown-filter__title= title_start
        .date-dropdown-wrapper.date-dropdown-filter
            input.date-dropdown__datepicker.date-dropdown-filter__input(
                type='text',
                placeholder='__ ___ - __ ___',
                name='date-filter',
                id=id
            )
            i.material-icons.date-dropdown-filter__icon expand_more
    else if type === 'double'
        .date-dropdown
            .date-dropdown__part
                h3.date-dropdown__title= title_start
                .date-dropdown-wrapper.date-dropdown-block
                    input.date-dropdown__datepicker.date-dropdown__input.date-dropdown__input-start(
                        type='text',
                        placeholder='ДД.ММ.ГГГГ',
                        data-classes=`date-dropdown-${classes}`,
                        id=id,
                        data-type=type
                    )
                    i.material-icons.date-dropdown__icon expand_more
            .date-dropdown__part
                h3.date-dropdown__title= title_end
                .date-dropdown-block
                    input.date-dropdown__input.date-dropdown__input-end(
                        type='text',
                        placeholder='ДД.ММ.ГГГГ'
                    )
                    i.material-icons.date-dropdown__icon expand_more
    else if type === 'inline'
        .date-dropdown__datepicker(name='date-filter', id=id)
