//- mixin dateDropdown(title_start, title_end, classes='element', id='')
mixin dateDropdown(options)
    - const { title_start, title_end, classes, id } = options;
    .date-dropdown
        .date-dropdown__part
            h3= title_start
            .date-dropdown-block
                input.date-dropdown__input.date-dropdown__input-start(
                    type='text',
                    placeholder='ДД.ММ.ГГГГ',
                    data-classes=`date-dropdown-${classes}`,
                    id=id
                )
                i.material-icons.date-dropdown__icon expand_more
        .date-dropdown__part
            h3= title_end
            .date-dropdown-block
                input.date-dropdown__input.date-dropdown__input-end(
                    type='text',
                    placeholder='ДД.ММ.ГГГГ'
                )
                i.material-icons.date-dropdown__icon expand_more
