mixin toggle(options)
    -
        const { text="", name="", value="", isChecked=false } = options

    label.toggle= text
        input(type='checkbox', name=name, value=value, checked=isChecked)
        span.toggle__slider
